{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Les événements à venir</h1>
        </div>
    </div>
    <div class="row my-5">
        {% for agenda in agendas %}
        <div class="col-12 col-md-6 col-lg-4 my-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{agenda.titre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">le {{agenda.date | date('d-m-Y')}} à {{agenda.date | date('H:i')}}</h6>
                    <p class="card-text">{{agenda.description | striptags|slice(0, 50) ~'...' }}</p>
                    <span>({{ agenda.agendaComments| length}} commentaire)</span>
                    <a href="{{path('agenda_show', {slug: agenda.slug})}}" class="card-link">Détaille</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
