{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <div class='row my-5'>
        {% if app.user %}
        <div class='col-12'>
            <h1>Bienvenue {{app.user.pseudo}} sur votre espace personnel</h1>
        </div>
        {% endif %}
    </div>
    <div class='row'>
        <div class='col-12 d-flex justify-content-center'>
            <a class="btn btn-primary" href="{{path('agenda_create')}}" title="créer un évenement">Créer un événements</a>
        </div>
    </div>
    <div class='row'>
        {% set admin = (app.user.roles[0] == 'ROLE_ADMIN')? true : false %}
        <div class='col-12'>
            {% if admin %} Vous avez accès à tous les événements 
            {% else %}
            Vos événements
            {% endif %}
        </div>
        <div class="col-12 col-lg-9">
        {% if agendas %}
        {% for agenda in agendas %}
            <div class="card-office">
                <div class="card-office-picture">
                    <div class="picture">
                        <img src="{{asset('images/'~ agenda.image)}}">
                    </div>
                </div>
                <div class="card-office-titre">
                    <h5>{{agenda.titre}}</h5>
                    <p>{{agenda.description | striptags|slice(0, 50) ~'...' }}</p>
                    <span class="card-office-date">le {{agenda.date | date('d-m-Y')}} à {{agenda.date | date('H:i')}}</span>
                </div>
                <div class="card-office-action">
                    <a class="btn btn-secondary" href="{{path('agenda_show',{slug : agenda.slug})}}">Voir</a>
                    <a class="btn btn-secondary" href="{{path('agenda_edit',{id : agenda.id})}}">Editer</a>
                    <a class="btn btn-secondary" href="{{path('agenda_delete',{id : agenda.id})}}">Supprimer</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h3>Vous n'avez pas encore d'événements</h3>
        {% endif %}
        </div>
        <div class="col-12 col-lg-3 border-start">
            <h3>Modifier mon mot de passe</h3>
            <a class="btn btn-primary" href="{{path('user_pass')}}">Modifier</a>
        </div>
    </div>

{% endblock %}
