{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <div class='row my-5'>
        <div class='col-12'>
            <h1>Bienvenue {{app.user.pseudo}} sur votre espace personnel</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <a href="{{path('agenda_create')}}" title="créer un évenement">Créer un événements</a>
        </div>
    </div>
    <div class='row'>
        {% set admin = (app.user.roles[0] == 'ROLE_ADMIN')? true : false %}
        <div class='col-12'>
            {% if admin %} Vous avez accès à tous les événements 
            {% else %}
            Vos événements
            {% endif %}
        </div>
        {% for agenda in agendas %}
            <div class="card-office">
                <div class="card-office-picture">
                    <div class="picture">
                        <img src="{{asset('images/'~ agenda.image)}}">
                    </div>
                </div>
                <div class="card-office-titre">
                    <h5>{{agenda.titre}}</h5>
                </div>
                <div class="card-office-action">
                    <a class="btn btn-secondary" href="{{path('agenda_edit',{id : agenda.id})}}">Editer</a>
                    <a class="btn btn-secondary" href="{{path('agenda_delete',{id : agenda.id})}}">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
