{% extends "base.html.twig" %}

{% block body %}

    <div class='row my-5'>
        <div class='col-12 col-md-6'>
            <h1>Créer un événement</h1>
        </div>
        <div class='col-12 col-md-6'>
            <a href="{{path('admin_index')}}">Retour a la page d'administration</a>
        </div>
    </div>
    <div class='row'>
        {{form_start(form)}}
        <div class="col-12 mb-3">
            {{form_row(form.titre)}}
        </div>
        <div class="col-12 mb-3">
            {{form_row(form.description)}}
        </div>
        <div class="col-12 mb-3">
            {{form_row(form.date)}}
        </div>
        <div class="col-12 mb-3">
            {{form_row(form.image)}}
        </div>
        <div class="col-12 mb-3">
            <input type="submit" value="Modifier" class="btn btn-primary">
        </div>
        {{form_end(form)}}
    </div>


{% endblock %}