{% extends "base.html.twig" %}


{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h1>{{agenda.titre}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class="col-12 col-md-6">
            <h4>Auteur : {{agenda.user.pseudo}}</h4>
        </div>
        <div class="col-12 col-md-6">
            <h4>Date : le {{agenda.date | date('d-m-Y')}} à {{agenda.date | date('H:i')}}</h4>
        </div>
        <div class='col-12 col-lg-8'>
            {{agenda.description}}
        </div>
        <div class="col-12 col-lg-4">
            <div class="picture">
                <img src="{{asset('images/'~ agenda.image)}}">
            </div>
        </div>
    </div>
    {% if app.user == agenda.user %}
    <div class='row my-2'>
        <div class='col-12 col-md-6'>
            C'est un de vos événements, vous pouvez l'éditer
        </div>
        <div class="col-12 col-md-6">
            <a href="{{path('agenda_edit',{slug:agenda.slug})}}" title="editer l'agenda">Editer</a>
        </div>
    </div>
    {% endif %}
    {% if agenda.agendaComments %}
        <div class="row mt-2">
            <div class="col-12 col-md-6">
                <h3>Les commentaires</h3>
            </div>
            <div class="col-12 col-md-6">
                {% if app.user %}
                    <a href="{{path('agenda_comment_create',{id : agenda.id})}}">Ajouter un commentaire</a>
                {% endif %}
            </div>
        </div>
        <div class='row my-2'>
            {% for comment in agenda.agendaComments %}
                <div class='col-12'>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{comment.user.pseudo}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Publié le {{comment.createdAt | date('d-m-Y')}} à {{comment.createdAt | date('H:i')}}
                            </h6>
                            <p class="card-text">{{comment.commentaire | raw}}</p>
                            {% if app.user == comment.user %}
                                <a href="{{path('comment_edit', {id: comment.id})}}" class="card-link">modifier</a>
                                <a href="{{path('comment_delete', {id: comment.id})}}" class="card-link">supprimer</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}